<div class="col col-mg-8">
    {{#each featured.channels }}
    <article>
        <h2 class="fs-5">{{title}}</h2>
        <p>{{description}}</p>
        <hr>
    </article>
    {{/each}}
    <article class="post">
        <div class="card border-0 mb-3">
            <div class="row align-items-center justify-content-between g-0">
                <div class="col-auto">
                    <img src="@img/user.webp" class="img-fluid rounded-start" alt="user" title="user">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text m-0">a new thread in channel #politics by <span class="text-danger">bright-ice</span>
                            </p>
                            <p class="card-text m-0">id: 46246gf</p>
                            <div class="icon-box">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <!-- share_alt -->
                                    <img src="@img/icons/icons.svg#share_alt" class="svg-share_alt-dims"
                                         alt="share_alt" width="19" height="19">
                                    <span class="text-purple">Reply</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="@img/post.webp" alt="photo">
                <p class="card-text mt-3 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <hr>
    </article>
    <article class="post">
        <div class="card border-0 mb-3">
            <div class="row align-items-center justify-content-between g-0">
                <div class="col-auto">
                    <img src="@img/user.webp" class="img-fluid rounded-start" alt="user" title="user">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text m-0">a new thread in channel #politics by <span class="text-danger">bright-ice</span>
                            </p>
                            <p class="card-text m-0">id: 46246gf</p>
                            <div class="icon-box">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <!-- share_alt -->
                                    <img src="@img/icons/icons.svg#share_alt" class="svg-share_alt-dims"
                                         alt="share_alt" width="19" height="19">
                                    <span class="text-purple">Reply</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="card-text mt-3 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem aliquam
                    congue ligula consectetur. Id ultrices lacinia tristique etiam fringilla sollicitudin mi
                    tincidunt.</p>
            </div>
        </div>
        <hr>
    </article>
    <article class="post">
        <div class="card border-0 mb-3">
            <div class="row align-items-center justify-content-between g-0">
                <div class="col-auto">
                    <img src="@img/user.webp" class="img-fluid rounded-start" alt="user" title="user">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text m-0">a new thread in channel #politics by <span class="text-danger">bright-ice</span>
                            </p>
                            <p class="card-text m-0">id: 46246gf</p>
                            <div class="icon-box">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <!-- share_alt -->
                                    <img src="@img/icons/icons.svg#share_alt" class="svg-share_alt-dims"
                                         alt="share_alt" width="19" height="19">
                                    <span class="text-purple">Reply</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="card-text mt-3 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <hr>
    </article>
    <article class="post">
        <div class="card border-0 mb-3">
            <div class="row align-items-center justify-content-between g-0">
                <div class="col-auto">
                    <img src="@img/user.webp" class="img-fluid rounded-start" alt="user" title="user">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text m-0">a new thread in channel #politics by <span class="text-danger">bright-ice</span>
                            </p>
                            <p class="card-text m-0">id: 46246gf</p>
                            <div class="icon-box">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <!-- share_alt -->
                                    <img src="@img/icons/icons.svg#share_alt" class="svg-share_alt-dims"
                                         alt="share_alt" width="19" height="19">
                                    <span class="text-purple">Reply</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="@img/mobile.webp" alt="photo">
                <p class="card-text mt-3 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis amet
                    ac maecenh sit. Aenean ultrices mi ante risus egestas sollicitudin. Nisl quis neque, at est.</p>
            </div>
        </div>
        <hr>
    </article>
</div>